
.divImagen {
    
    
  height: 700px;
  background-image: url('/src/images/download.jpg');
  background-size: cover;
  background-color: transparent;
}

.column {
  float: left;
  margin-top: 10rem;
  
  width: device-width, initial-scale=1.0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
