
.divImagen {

}
html{
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/src/images/BackGround.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1faee;
}

.column {
  float: left;
  margin-top: 10rem;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
